#container {
        height: 200px;
        display: flex;
        align-items: flex-end;
}

body {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: aqua;
}

.bar {
        width: 10px;
        background-color: black;
        margin: 1px;
}
h1{
        font-family: 'Comic Neue', cursive;
font-family: 'Ubuntu', sans-serif;
}
button {
        color: white;
        font-family: 'Comic Neue', cursive;
        font-family: 'Ubuntu', sans-serif;
        background-color: black;
        border-radius: 20px;
}

img{
        width: 40px;
        height: 40px;
}